@import url('https://fonts.googleapis.com/css?family=Cousine|Open+Sans&display=swap');

/*elements*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cousine', monospace;
}

h1 {
    font-weight: bold;
}


p {
    font-family: 'Open Sans', sans-serif;
}

/*classes*/
.content {
    margin-left: 10%;
    margin-right:10%;
    padding-top: 10%;
}