<!DOCTYPE html> 
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Daily Mood</title>
    </head>
    <body>
        <h1>Daily Mood</h1>
		<div id="graph"></div>
    </body>
	<script src="../violin_graph.js"></script>
</html>
