<!DOCTYPE html> 
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>A Developing Developer</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <h2>My name is Phillip Shreves</h2>
        <h1><%= new Date(); %></h1>
		<div id="graph"></div>
    </body>
	<script src="../violin_graph.js"></script>
</html>
